[Unit]
Description=Kubernetes API aggregator Service
After=network.target

[Service]
EnvironmentFile=-/etc/kubernetes/config
EnvironmentFile=-/etc/kubernetes/aggregator
ExecStart=/root/local/bin/kube-aggregator \
	    $KUBE_LOG \
	    $KUBE_ETCD_SERVERS \
	    $KUBE_AUTHENTICATION \
	    $KUBE_ADDRESS \
	    $KUBE_API_ARGS \
        $KUBE_TLS \
        $KUBE_GC \

Restart=on-failure
Type=notify
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target